@using STRACT.web.Resources
@inject LocalizationService _loc 

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@_loc.GetLocalizedHtmlString("Welcome")</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <span style="font-size: 100px">
        <i class="fab fa-accusoft"></i>
    </span>
    
</div>
