@model STRACT.Entities.Projects.ProjectItem

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ProjectItem</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
             <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="DetailOfProblem" class="control-label"></label>
                        <textarea asp-for="DetailOfProblem" class="form-control"></textarea>
                        <span asp-validation-for="DetailOfProblem" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="MappedBenefits" class="control-label"></label>
                        <textarea asp-for="MappedBenefits" class="form-control" ></textarea>
                        <span asp-validation-for="MappedBenefits" class="text-danger"></span>
                    </div>
                </div>
            </div>
             <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="ExpectedResults" class="control-label"></label>
                        <textarea asp-for="ExpectedResults" class="form-control"></textarea>
                        <span asp-validation-for="ExpectedResults" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="ConceptsDeveloped" class="control-label"></label>
                        <textarea asp-for="ConceptsDeveloped" class="form-control" ></textarea>
                        <span asp-validation-for="ConceptsDeveloped" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="MainConclusions" class="control-label"></label>
                        <textarea asp-for="MainConclusions" class="form-control" ></textarea>
                        <span asp-validation-for="MainConclusions" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="FolderPath" class="control-label"></label>
                <input asp-for="FolderPath" class="form-control" />
                <span asp-validation-for="FolderPath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class ="form-control" asp-items="ViewBag.UserInTeamId">
                    <option value="">-- Select User --</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
