@model STRACT.Entities.Projects.ProjectItem

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ProjectItem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProjectItemId" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DetailOfProblem" class="control-label"></label>
                <input asp-for="DetailOfProblem" class="form-control" />
                <span asp-validation-for="DetailOfProblem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MappedBenefits" class="control-label"></label>
                <input asp-for="MappedBenefits" class="form-control" />
                <span asp-validation-for="MappedBenefits" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpectedResults" class="control-label"></label>
                <input asp-for="ExpectedResults" class="form-control" />
                <span asp-validation-for="ExpectedResults" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConceptsDeveloped" class="control-label"></label>
                <input asp-for="ConceptsDeveloped" class="form-control" />
                <span asp-validation-for="ConceptsDeveloped" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MainConclusions" class="control-label"></label>
                <input asp-for="MainConclusions" class="form-control" />
                <span asp-validation-for="MainConclusions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FolderPath" class="control-label"></label>
                <input asp-for="FolderPath" class="form-control" />
                <span asp-validation-for="FolderPath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
